/target

# api
/api/target

# indexer
/indexer/target
/indexer/chains
/indexer/log/neogo.log
/indexer/.env
/indexer/neogo
/indexer/neogo.exe
/indexer/shrike.db3
/indexer/shrike.db3-journal
/indexer/shrike.db3-shm
/indexer/shrike.db3-wal
/indexer/todo.md
/indexer/debug.log
/indexer/readme.md.backup

# gui
/gui/dist
/gui/.solid
/gui/.output
/gui/.vercel
/gui/.netlify
/gui/netlify
/gui/node_modules
/gui/.idea
/gui/.project
/gui/.classpath
/gui/*.launch
/gui/.settings/
/gui/.DS_Store
/gui/Thumbs.db
